.Container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 15px;
}

.Container form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
}

.Container input {
    width: 300px;
    height: 200px;
    padding: 10px;
    font-size: 20px;
}

.btn-row button {
    margin: 10px 10px 10px 0;
    background: royalblue;
    color: white;
    font-size: 24px;
    border: none;
    outline: none;
    padding: 10px
}

#password {
    height: 50px;
}